@import 'src/shared/styles/vars.scss';

.root {
  display: grid;
  row-gap: 24px;
}

.item {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 16px;
}

.remove {
  display: grid;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }

  & svg {
    color: $mainPink;
    width: 36px;

    &:hover {
      color: $boldPink;
    }
  }
}

.append {
  position: relative;
  z-index: 0;
  display: grid;
  justify-items: center;
}

.caption {
  position: absolute;
  top: calc(100% + 4px);
  justify-self: center;
  font-family: var(--font-georama);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000D9;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.buttonWithTooltip {
  display: flex;
  gap: 16px;
}

.thisLink {
  color: $fadedPink;
}