@import 'src/shared/styles/vars.scss';

.error_wrap {
  position: relative;
  width: 100%;
  height: max-content;
}

.error_message {
  position: absolute;
  top: calc(100%);
  left: 0;
  right: 0;
  font-family: var(--font-georama);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: $mainError;
}

.label_wrap {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.label_top {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);

  > .label_text {
    margin: 0;
    margin-bottom: 8px;
    text-align: left;
  }
}

.label_text {
  display: block;
  padding-top: 6px;
  margin-right: 8px;
  font-family: var(--font-georama);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #000000D9;
}

.input {
  width: 100% !important;
  padding: 6px 12px !important;
  border: 1px solid #D9D9D9 !important;
  border-radius: 2px !important;
  background-color: white !important;
  align-items: center !important;

  & > span {
    position: relative !important;
    margin-inline-end: unset !important;
  }

  & :global(.ant-picker-suffix) {
    font-family: var(--font-georama) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    color: #000000D9 !important;
  }

  &:global(.ant-picker),
  &:global(.ant-picker-range) {
    width: max-content !important;
    padding: 0 !important;
    border: none !important;
    background-color: transparent !important;

    & :global(.ant-picker-active-bar) {
      background-color: $goldenPurple !important;
    }

    & :global(.ant-picker-range-separator) {
      margin: 0 4px !important;
    }

    & :global(.ant-picker-input) {
      width: 110px !important;
      padding: 6px 12px !important;
      border: 1px solid #D9D9D9 !important;
      border-radius: 2px !important;  
      background-color: white !important;
      
      &:hover,
      &:focus,
      &:focus-within {
        border-color: $goldenPurple !important;
      }

      &:focus,
      &:focus-within {
        box-shadow: 0px 0px 0px 2px #9254DE33 !important;
      }
    }

    &:focus, &:focus-within {
      box-shadow: none !important;
    }
  }

  &:is(input),
  & input {
    font-family: var(--font-georama);
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0em !important;
    color: #000000D9 !important;

    &::placeholder {
      color: #00000040 !important;
    }
  }

  & * {
    padding: 0 !important;
  }

  :global(.ant-input-data-count) {
    font-family: var(--font-georama);
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: right !important;
  }

  &:focus,
  &:focus-within {
    box-shadow: 0px 0px 0px 2px #9254DE33 !important;
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-color: $goldenPurple !important;
  }
}

.textarea {
  padding: 0 !important;
  align-items: unset !important;

  > textarea {
    min-height: 106px !important;
    padding: 6px 12px !important;
  }
}

.picker {
  & :global(.ant-picker-panel-layout) {
    font-family: inherit !important;
  }

  & :global(.ant-picker-time-panel-cell-selected) > * {
    background-color: #F9F0FF !important;
  }

  & :global(.ant-picker-cell-today) > *::before {
    border-color: #9254DE !important;
  }

  & :global(.ant-picker-cell-range-start) > *,
  & :global(.ant-picker-cell-range-end) > * {
    background-color: #9254DE !important;
  }

  & :global(.ant-picker-cell-range-start),
  & :global(.ant-picker-cell-range-end),
  & :global(.ant-picker-cell-in-range) {
    &::before {
      background-color: #F9F0FF !important;
    }
  }

  & :global(.ant-picker-ok) button {
    width: max-content !important;
    height: max-content !important;
    padding: 4px 12px !important;
    border-radius: 16px !important;
    background-color: #F759AB !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    transition: background-color 0.3s !important;

    &:hover {
      background-color: #FFADD2 !important;
    }
  }
}