@import 'src/shared/styles/vars.scss';

@mixin h1 {
  font-size: 104px;
  color: $mainPink;
  font-family: var(--font-bowlby-one);
  line-height: 93.6px;
}

@mixin h3 {
  font-size: 64px;
  color: $goldenPurple;
  font-family: var(--font-bowlby-one);
  line-height: 57.6px;
}