$mainPink: #F759AB;
$boldPink: #EB2F96;
$fadedPink: #FFADD2;
$dustRed: #FFF1F0;
$mainCyan: #13C2C2;
$boldCyan: #088d8d;
$mainBackground: #F0F0F0;
$goldenPurple: #9254DE;
$fadedPurple: #F9F0FF;
$fadedBoldPink: #ffdcec;
$fadedBoldPurple: #eed6ff;
$mainError: #FF4D4F;
$gray7: #8C8C8C;
$gray5: #D9D9D9;
$gray6: #BFBFBF;

$textPrimary: #262626;
$textSecondary: #FFFFFF;
$textSubtitle: rgba(0, 0, 0, 0.45);
$textSunriseYellow: #FADB14;
$textDisabled: #BFBFBF;

$backgroundDisabled: #F0F0F0;