{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}
