@import 'src/shared/styles/mixins.scss';

.root {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px
}

.title {
  @include h1;

  padding-top: 80px;
  max-width: 900px;
  text-align: center;
}