.root {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 16px;
  border: 2px solid #9254DE;
  gap: 8px;
  background: linear-gradient(0deg, #F9F0FF, #F9F0FF), linear-gradient(0deg, #9254DE, #9254DE);
  color:  #9254DE;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}