@import 'src/shared/styles/vars.scss';

.root {
  background-image: url('./img/layout-background.png');
  background-repeat: repeat;
  background-color: $mainBackground;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
  background: white;
  position: relative;

  &::after {
    content: "";
    height: 36px;
    width: 100%;
    background-image: url('./img/header-scrap.svg');
    background-position: bottom center;
    position: absolute;
    top: 99%;
    left: 0;
  }
}

.headerMirror {
  &::after {
    bottom: 99%;
    top: unset;
    transform: rotate(180deg);
  }
}
