[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pytest = "*"
pymemcache = "*"
web3 = "*"
uvicorn = "*"
black = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
