.root {
  display: grid;
  justify-items: center;
  row-gap: 56px;
  width: 100%;
}

.filter {
  width: 100%;
  max-width: 360px;
  justify-self: start;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center;
  gap: 56px 36px;
  width: 100%;
}

.caption {
  display: inline-block;
  margin-bottom: 84px;
  font-family: var(--font-georama);
  font-size: 20px;
  line-height: 32px;
  text-align: center;

  a {
    color: #9254DE;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #F759AB;
    }
  }
}