.root {
  display: grid;
  width: 320px;
  height: 100%;
}

.wrap {
  position: relative;
  z-index: 0;
  display: grid;
  row-gap: 20px;
  align-content: space-between;
  height: 100%;
}

.content {
  display: grid;
  row-gap: 8px;
}

.image {
  position: relative;
  width: 100%;
  height: 280px;

  img {
    object-fit: cover;
  }
}

.title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
}

.priceBlock {
  display: grid;
}

.price {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.priceOld {
  font-size: 14px;
  line-height: 1.5;
  text-decoration: line-through;
  color: #666;
  margin: 0;
}

.action {
  position: relative;
  z-index: 1;
  display: grid;
}

.link {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
