@import 'src/shared/styles/vars.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #FFF;
  border-radius: 16px;
  overflow: hidden;
  max-width: 360px;
  padding-bottom: 24px;
  border: 2px dashed $gray5;

  &_disabled {
    pointer-events: none;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.image {
  object-fit: cover;

  &_disabled {
    opacity: 0.4;
  }
}

.subtitle {
  color: $textSubtitle;
  font-size: 14px;
  font-family: var(--font-georama);
}

.error {
  color: $mainError;
}

.fire {
  color: #FFF;
}

.description {
  font-family: var(--font-georama);
  line-height: 24px;
  font-size: 16px;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 24px;
}

.title {
  color: $goldenPurple;
  font-weight: 500;
}

.cost {
  font-size: 24px;

  &_lineThrough {
    text-decoration: line-through;
    color: $gray7;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.bottomDivider {
  padding-top: 20px;
  border-top: 1px solid $backgroundDisabled;
}