@import 'src/shared/styles/mixins.scss';

.root {
  display: grid;
  justify-items: center;
  gap: 32px;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  max-width: 1440px;
  padding: 0px 120px 0 120px;
  margin: 0 auto;
  z-index: 1;
}

.title {
  @include h1;

  padding-top: 132px;
  text-align: center;
}