@import 'src/shared/styles/vars.scss';

.root {
  font-family: inherit !important;

  & :global(a.ant-breadcrumb-link:hover) {
    background: none !important;
  }
}

.item {
  display: inline-block;
  font-family: inherit !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  &::first-letter {
    text-transform: capitalize;
  }
}

.current {
  color: $gray7 !important;
}

.link {
  color: $goldenPurple !important;
}
