.root {
  min-width: 88px !important;
  padding: 5px 16px !important;
  border-radius: 22px !important;
  gap: 8px !important;
  background-color: #F5F5F5 !important;
  font-family: var(--font-georama) !important;
  font-size: 14px  !important;
  font-weight: 400  !important;
  line-height: 22px  !important;
  letter-spacing: 0em  !important;
  text-align: center  !important;
  color: #000000D9  !important;
  border-width: 2px !important;
  border-style: dashed !important;
  border-color: #FFADD2 !important;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s !important;

  &:hover {
    border-color: #9254DE !important;
  }

  &.checked {
    background-color: #F9F0FF !important;
    color: #9254DE !important;
    border-style: solid !important;
    border-color: #9254DE !important;
  }
}
