.root {
  & :global(.ant-message-notice-content) {
    width: max-content !important;
    padding: 13px 32px !important;
    border-radius: 16px !important;
    box-shadow: none !important;
    
    span:last-child {
      font-family: var(--font-w95fa) !important;
      font-size: 28px !important;
      line-height: 32px !important;
    }

    & :global(.anticon) {
      display: none !important;
    }
  }

  &_success {
    & :global(.ant-message-notice-content) {
      background-color: #F0F8F7 !important; 
      border: 2px solid #00A86B !important;

      span:last-child {
        color: #00A86B !important;
      }
    }
  }

  &_error {
    & :global(.ant-message-notice-content) {
      background-color: #FEF6F6 !important; 
      border: 1px solid #FF4D4F !important;

      span:last-child {
        color: #FF4D4F !important;
      }
    }
  }

  &_warning {
    & :global(.ant-message-notice-content) {
      background-color: #FFF0F6 !important; 
      border: 1px solid #F759AB !important;

      span:last-child {
        color: #F759AB !important;
      }
    }
  }

  &_info {
    & :global(.ant-message-notice-content) {
      background-color: #F0F8FF !important; 
      border: 1px solid #0052CC !important;

      span:last-child {
        color: #0052CC !important;
      }
    }
  }
}
