@import 'src/shared/styles/mixins.scss';

.root {
  position: relative;
  z-index: 1;
  display: grid;
  width: 100%;
  max-width: 1440px;
  padding: 0px 180px 0 120px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-auto-columns: max-content 1fr 1fr;
  grid-auto-flow: column dense;
  grid-auto-rows: max-content;
}

.description {
  display: inline-block;
  font-family: var(--font-georama);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
  text-align: center;
  margin-bottom: 96px;

  button {
    cursor: pointer;
    color: #9254DE;
  }
}

.column {
  display: grid;
  > *:first-child > * {
    margin-bottom: 56px;
  }
  > *:last-child > * {
    margin-bottom: 0;
  }

  &_1 {
    grid-template-columns: subgrid;
    grid-column: span 2;
    margin-right: 45px;

    &_field {
      display: grid !important;
      grid-template-columns: subgrid !important;
      grid-column: span 2;
      margin-bottom: 24px;
    }
  }

  &_2 {
    grid-template-columns: subgrid !important;
    grid-column: 3;
    height: max-content;
  }
}

.tickets {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 3;
  margin-left: 45px;
  grid-row: 1/8;
  height: max-content;

  > * {
    margin-bottom: 16px;
  }
}

.gap {
  gap: 16px;
}

.caption {
  font-family: var(--font-georama);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.title {
  @include h1;
  text-align: center;
}

.action {
  display: grid;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 96px;
}

.error_wrap {
  position: relative;
  display: grid;
}

.error_message {
  position: absolute;
  top: calc(100% + 9px);
  justify-self: center;
  max-width: 480px;
  font-family: var(--font-georama);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #FF4D4F;
}
