.root {
  width: 236px !important;
  font-family: inherit !important;

  :global(.ant-popover-arrow) {
    &::after, 
    &::before {
      background-color: #262626 !important;
    }
  }

  :global(.ant-popover-inner) {
    padding: 16px !important;
    background: #262626 !important;
    border-radius: 2px !important;
  }

  :global(.ant-popconfirm-title) {
    font-family: var(--font-georama) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    color: #FFF !important;
  }
}

.button:is(button) {
  display: inline !important;
  min-width: 51px !important;
}

